.tableWrapper {
  overflow-x: auto;
  padding: 20px 0;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.table th {
  text-align: left;
  color: #888;
  font-size: 0.8rem;
  padding: 0 15px;
  text-transform: uppercase;
}

.row {
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.row:hover {
  transform: scale(1.01);
}

.cell {
  padding: 20px 15px;
}

.cell:first-child {
  border-radius: 12px 0 0 12px;
}

.cell:last-child {
  border-radius: 0 12px 12px 0;
}

.statusBadge {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: bold;
}

.active {
  background: #e6fffa;
  color: #38b2ac;
}

.suspended {
  background: #fff5f5;
  color: #e53e3e;
}



.itemsGrid {
  display: flex;
  gap: 15px;
}
.teamContainer {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); 
  background: #f0eeee;
  color: #1a202c; 
  font-size: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.avatar:nth-child(1) {
  background: #FFF9C4;
  color: #5D4037;
}

.avatar:nth-child(2) {
  background: #FFD54F;
  color: #3E2723;
}

.avatar:nth-child(3) {
  background: #FFB300;
  color: #212121;
}
.avatar:not(:first-child) {
  margin-left: -12px;
}

.teamContainer:hover .avatar:not(:first-child) {
  margin-left: -5px;
}

.avatarExtra {
  background: #edf2f7; 
  color: #718096;
  cursor: default;
}
